# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# MLflow
mlruns/

# Models (large binary files)
models/*.joblib

# Reports
reports/

# Data
data/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
logs/